<mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
          <span class="full-width">Parent Menu</span>
          <mat-icon mat-list-icon>home</mat-icon>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" >expand_more</mat-icon>
        </mat-list-item>
        
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item [routerLink]="'/'">Main</a>
          <a mat-list-item [routerLink]="'/contact'">Contact</a>
          <a mat-list-item [routerLink]="'/'">Foo</a>
          <a mat-list-item [routerLink]="'/'">Bar</a>
          <a mat-list-item [routerLink]="'/'">Baz</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page-content" style="height: 88vh;">  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>