.sidenav{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

.page-content {
    height: calc(88vh - 60px);
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}

.page-content {
    padding: 0 16px;
}